.App {
  text-align: center;
}

.button {
  width: 25%; 
  margin: 0 auto; 
  font-size: 1.2rem; 
}

.error {
  color: red;
}

.checkbox-container{
  margin-bottom: 10px; 
}

.form-container {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}

.form {
  width: 30%; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}

.field {
  margin-bottom: 20px;
  font-size: 1.2rem; 
}
