.App {
  text-align: center;
}

.error {
  color: red;
}

.form-container {
  height: 700px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}

.form {
  width: 30%; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
}
